/* تصميم الخريطة */
#map {
    height: 90vh;
    width: 100%;
}

/* تصميم شريط البحث */
#search-input {
    width: 300px;
}

/* تحسين تصميم النوافذ المنبثقة */
.popup-content {
    max-width: 300px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.marker-icon {
    border-radius: 50%;
    border: 2px solid #fff;
}

/* تخصيص Tooltip */
.leaflet-tooltip {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
}

