/* تصميم الخريطة */
#map {
    height: 90vh;
    width: 100%;
}

/* تصميم شريط البحث */
#search-input {
    width: 300px;
}

/* تحسين تصميم النوافذ المنبثقة */
.popup-content {
    max-width: 300px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
